
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
cov
triple
*.exe
*.out
*.app

# Datafiles
*.txt
!requirements.txt
*.dat
#*.csv
*.npz
.ipynb_checkpoint*

# Doc files
_build
_static
_templates

# IPython/Jupyter notebook checkpoints
.ipynb_checkpoints

# Python cache
__pycache__

# Built docs
_build
