name: Python Package using Conda

on: [push]

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.10", "3.11", "3.12"]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      shell: bash -el {0}
      run: |
        conda install llvm-openmp pkg-config gsl
        if [ -f requirements.txt ]; then python -m pip install -r requirements.txt; fi
    - name: Lint with flake8
      shell: bash -el {0}
      run: |
        conda install flake8
        # stop the build if there are Python syntax errors or undefined names
        python -m flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        python -m flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Install the package
      shell: bash -el {0}
      run: python -m pip install .
    # - name: Test with pytest
    #   shell: bash -el {0}
    #   run: |
    #       conda install pytest
    #       pytest
